<template>
  <div>
    <v-container class="dark" v-if="show === 'textfield'">
      <v-row
        class="mb-6 mt-6"
        no-gutters
      >
        <v-col align-self="center">
          <h1>Quelle est votre musique préférée ?</h1>
          <v-text-field
            v-model="song"
            placeholder="Entrez une musique">
          </v-text-field>
          <v-btn @click="sendSong(song)">
          Chercher</v-btn>
        </v-col>
      </v-row>
    </v-container>
    <v-container v-if="show === 'songSelection'" >
      <h1>Choisissez une musique</h1>
      <v-autocomplete
        class="dark" 
        auto-select-first
        chips
        clearable
        rounded
        solo
        :items="relatedSongs"
        v-model="selectedSong"
      ></v-autocomplete>
        <v-slider
          dense
          v-model="recourdNumber"
          label="Nombre de résultats"
          max="15"
          min="5"
        ></v-slider>
       <v-btn @click="predictgobrrr(selectedSong)">
          GO GO PREDICT</v-btn>
    </v-container>
    <v-container class="dark" v-if="show === 'result'">

      <h1>THIS IS MY PREDICTION</h1>
      <v-data-table
      :headers="headers"
      :items="prediction">
      </v-data-table> 
    </v-container>
  </div>
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
  components: {
    Logo,
    VuetifyLogo
  },
  data() {
    return {
      recourdNumber: 0, 
      prediction: null,
      selectedSong : null,
      song: "",
      show: "textfield",
      relatedSongs : [],
      headers: [
          {
            text: 'Titre',
            align: 'start',
            value: 'title',
          },
          { text: 'Artiste', value: 'artist' },
      ],
      testData: [
        {
          title: 'Highest in the room',
          artist: 'Travis Scott'
        },
        {
          title: 'Freeze Raël',
          artist: 'Chen zen'
        },
      ]
    }
  },
  methods: {
    async sendSong(song) {
      const res = await this.$axios.$post(`http://localhost:8000/api/model/find_similar_song?song=${song}`)
      console.log(res)
      const resParsed = JSON.parse(res)
      this.relatedSongs = resParsed.options.map(el=>{
        return {
          text: el[0],
          value: el[1]
        }
      })
      
      this.show = 'songSelection';
    },
    async predictgobrrr(song){
      const res = await this.$axios.$post(`http://localhost:8000/api/model/predict?ans=${song}&number=${Number.parseInt(this.recourdNumber)}`)
      console.log(res)
      const resParsed = JSON.parse(res)
      this.prediction = resParsed.response
      this.show = 'result';
    }
  },
}
</script>
